<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        {css href="/static/css/index.css" /}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <a href="/?lang=zh-cn">中文</a>|<a href="/?lang=en-us">English</a>
            <br/>
            这是id变量{$id}
            <br/>
            <a href="../test/index.html">test</a>
            
        </div>
        
    </body>
</html>
